{% extends 'mobile/base.html' %}

{% block mainbody %}
    <!--头部-->
    <header>
        <div class="header">
            <h1>Order detail</h1>
            <a href="javascript:window.history.back();" class="return"><i></i></a>
        </div>
    </header>

    <!--内容区-->
    <article class="main-container loginContent">

        <h3>Successful!</h3>
        <h4>Order ID ：{{order.id}} &nbsp; &nbsp; Total：{{order.money}}</h4>
        <h4>{{info}} &nbsp;&nbsp; Discount:{{discount}}</h4>

        <div class="button"><button onclick="location.href='{% url 'mobile_index' %}'">Back to HomePage</button></div>  
    </article>
{% endblock %}